/* *
{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background: #262626 url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fHBvcnRmb2xpbyUyMGJhY2tncm91bmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form{
    background: #262626;
    padding: 20px;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
    width:300px;
    height:400px;
}

form h2{
    margin-top:20px;
    font-size: 55px;
    color:white;
    margin-bottom: 30px;
}

form input {
    border:none;
    background: none;
    text-align: center;
    outline: none;
    padding: 10px;
    margin:20px;
    color:white;
    height:30px;
    width:70%;
    border-radius: 40px;
    transition: 0.2s ease-in;
}

form input[type="text"], form input[type="password"]{
    border:solid 2px #1B9CFC
}

.btn{
    border:solid 2px #55E6C1;
    box-sizing: border-box;
    height:50px;
    width:40%;
    cursor: pointer;
    background-color: transparent;
    border-radius: 40px;
    transition: 0.2s ease-in;
}


form input[type="text"]:focus, form input[type="password"]:focus{
    width:80%;
    border:solid 2px #55E6C1;
}

.btn :hover{
    background: #55E6C1;
    color:#182C61;
} */

html{
	height: 100%;
	}

body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,.5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	border-radius: 10px;
}

.login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #F1EEE6;
	text-align: center;
}

.login-box .user-box {
	position: relative;
}

.login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #F1EEE6;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #F1EEE6;
	outline: none;
	background: transparent;
}

.login-box .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #F1EEE6;
	pointer-events: none;
	transition: .5s;
}

.login-box .user-box input:focus ~ label, .login-box .user-box input:valid ~ label {
	top: -20px; 
	left: 0px; 
	color: crimson;
	font-size: 12px;
}


.login-box form a {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: crimson;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	margin-top: 40px;
	letter-spacing: 4px;
}

.login-box form a:hover {
	background: crimson;
	color: #F1EEE6;
	border-radius: 5px;
	box-shadow: 0 0 5px crimson,
							 0 0 25px crimson,
							 0 0 50px crimson,
							 0 0 100px crimson;
}

.login-box a span {
	position: absolute;
	display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, crimson);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, crimson);
	animation: btn-anim2 1s linear infinite;
	animation-delay: .25s;
}

@keyframes btn-anim2 {
	0%{
		top: -100%;
	}
	50%,100% {
		top: 100%;
	}
}

.login-box span:nth-child(3){
	bottom: 0;
	tight: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, crimson);
	animation: btn-anim3 1s linear infinite;
	animation-delay: .5s;
}

@keyframes btn-anim3 {
	0%{
		right: -100%;
	}
	50%,100% {
		right: 100%;
	}
}

.login-box span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, crimson);
	animation: btn-anim4 1s linear infinite;
	animation-dealy: .75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
